.git
.git.nested-backup
**/node_modules
**/build
**/dist
**/bin
**/obj
**/.vs
**/.idea
**/.vscode
tmp
publish
app
app.zip
**/ignition/deployments
**/.env
**/appsettings.Development.json
**/localhost.pem
**/localhost-key.pem
